/*
 * Copyright (c) 2019, Linaro Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&feather_i2c {
	status = "okay";
	tmp112@48 {
		compatible = "ti,tmp112";
		reg = <0x48>;
		label = "TMP112";
	};
};
